# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
/[Pp]latforms/
/bin/Android/Debug
/bin/Windows-x64/Debug/SQLite3.winmd
/bin/Windows-x64/Debug/SQLite3.pri
/bin/Windows-x64/Debug/SplInvent.build.appxrecipe
/bin/Windows-x64/Debug/resources.pri
/bin/Windows-x64/Debug/AppxManifest.xml
/bld/Windows-x64/Debug/www
/bld/Windows-x64/Debug/vs.appxrecipe
/bld/Windows-x64/Debug/ucrtbased.dll
/bld/Windows-x64/Debug/SQLite3.winmd
/bld/Windows-x64/Debug/SQLite3.UWP.dll
/bld/Windows-x64/Debug/resources.pri
/bld/Windows-x64/Debug/images
/bld/Windows-x64/Debug/config.xml
/bld/Windows-x64/Debug/AppxManifest.xml
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/arm/debug/SQLite3.UWP.tlog
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/arm/debug/SQLite3.UWP.tlog
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.winmd
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.UWP.pdb
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.UWP.lib
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.UWP.ilk
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.UWP.exp
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.UWP.dll
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP/SQLite3.pri
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/vc140.pdb
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/vc140.idb
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/Statement.obj
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/SQLite3.UWP.vcxprojResolveAssemblyReference.cache
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/sqlite3.obj
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/resources.resfiles.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/resources.resfiles
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/qualifiers.txt.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/qualifiers.txt
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/priconfig.xml.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/priconfig.xml
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/pri.resfiles.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/pri.resfiles
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/pch.pch
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/pch.obj
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/MultipleQualifiersPerDimensionFound.txt
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/layout.resfiles.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/layout.resfiles
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/embed.resfiles.intermediate
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/embed.resfiles
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/Database.obj
/plugins/cordova-sqlite-storage/src/windows/SQLite3-Win-RT/SQLite3/SQLite3.UWP/x64/debug/Constants.obj
