* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#parent,
#gridInventario
{
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100%; /* DO NOT USE !important for setting the Grid height! */
}
.inventario-photo {
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 64px;
    height: 64px;
    /*border-radius: 50%;*/
    background-size: 64px 70px;
    background-position: center center;
    vertical-align: middle;
    line-height: 64px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    /*margin-left: 5px;*/
}

.descricao-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    /*font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  margin-left: -1px;
  position: relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 0;
  border-top-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: -2px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 9px;
  font-weight: normal;
}

/* KENDO ICONS*/
.km-save:after,
.km-save:before {
    content: "\e0bd" !important;
}

.km-exit:after,
.km-exit:before{
    content:"\e0b9";
}

.km-list:after,
.km-list:before{
    content:"\e077";
}
.km-cancel::after,
.km-cancel:before{
    content:"\e031";
}

/* SPINNER */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* OVERLAY */
#my-overlay {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain
}

#my-overlay p {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    margin: 0.3em 0 0 0;
}
#my-overlay i {
    position: absolute;
    top: 2%;
    color: white;
    right: 2%;
}

/* CONFIRM CSS*/

.confirm-button-noborder {
    border-bottom-style: none !important;
}
.confirm-close-icon{
    font-size:30px!important;
    position: absolute;
    right: inherit;
    top: inherit;
}

/* OVERRIDES */
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
    padding:10px 20px!important;
}
.ddTipoArtigo div{
    height:43px!important;
}

.ddTipoArtigo .k-dropdown-wrap .k-select{
    line-height:3em!important;
}
.ddTipoArtigo span{
    height:46px!important;
    line-height:2.5em!important;
}
#ddTipoArtigo-list{
    top:0;
}
#ddTipoArtigo-list .km-nova .km-actionsheet, .km-nova .km-popup .k-list-container{
    max-height:100%!important;
}
#ddTipoArtigo-list .k-list-scroller{
    height:auto!important;
}


/* Buttons */
.big-button{
    width: 10em;
    height: 5em;
    vertical-align: middle;
    border-radius: 0.5em !important;
    display:grid
}

/* Colors */
.colorGreen{
    color:green;
}
.color-DarkGreen{
    color:darkgreen
}

.color-DarkRed{
    color:darkred;
}

/*Floats*/

.left{
    float:left;
}
.right{
    float:right;
}

/* Text */

.text-center{
    text-align:center;
}